.mat-table-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mat-header,
  .mat-cell {
    padding: 12px;
    height: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .mat-header {
    font-weight: bold;
    text-align: left;
}