.coloredBackground {
    background-color: #f0f0f0 !important;
}
.titleBar {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px;
    height: 4rem; 
    position: sticky; 
    top: 50px; 
    z-index: 10;
    background: white;
    padding-left: 16px;
}