.navbarItem {
    height: 100%;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white !important;
}

.active {
    transition: all .3s linear;
    background: white;
    color: rgb(45, 45, 45) !important;
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(47, 53, 70); 
    color: #e9e9e9;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}