<!-- title -->
<h1 mat-dialog-title>Create New Device</h1>
<mat-stepper #stepper style="width: 80vw;">
  <!-- Step 1: Fill out your name -->
  <mat-step [stepControl]="firstFormGroup" [errorMessage]="getErrorMessage()">
    <form [formGroup]="firstFormGroup">
      <!-- stepper header -->
      <ng-template matStepLabel>Enter Device Details</ng-template>
      <div style="display: flex; flex-direction: column; gap: 10px; padding-top: 16px;">
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 12px;">
          <mat-form-field>
            <mat-label>Device Type</mat-label>
            <input
              matInput
              #productTypeInput
              placeholder="Ex. Laptop, Monitor, Cable etc." 
              formControlName="deviceName" 
              required 
              (input)="onDeviceTypeInputChange(productTypeInput.value)"
              [matAutocomplete]="auto"
            >
            <mat-autocomplete
              #auto="matAutocomplete" 
              autoActiveFirstOption
              hideSingleSelectionIndicator
              (optionSelected)="onAutoCompleteSelected($event)"
            >
              <mat-option 
                *ngFor="let option of filteredProductTypes$ | async" 
                [value]="option"
              >
                {{ option.name }} - {{ option.description }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Device Variant/Description</mat-label>
            <input
              matInput 
              #descriptionInput
              placeholder="Ex. Dell XPS 13, HP 4K, Cable 1m, etc."
              formControlName="deviceDescription"
              [matAutocomplete]="autoDescription" 
              (input)="onDescriptionInputChange(descriptionInput.value)"
            >
            <mat-autocomplete 
              #autoDescription="matAutocomplete" 
              autoActiveFirstOption
              (optionSelected)="onAutoCompleteSelected($event)"
            >
              <mat-option 
                *ngFor="let option of filteredDescriptions$ | async" 
                [value]="option"
              >
                {{ option.name }} - {{ option.description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Device Location</mat-label>
          <!-- <input matInput placeholder="Ex. Room 174" formControlName="deviceLocation" required> -->

          <input
              matInput 
              #roomInput
              placeholder="Ex. Room 174"
              formControlName="deviceLocation"
              [matAutocomplete]="autoRoom"
              (input)="onRoomInputChange(roomInput.value)"
            >
            <mat-autocomplete
              #autoRoom="matAutocomplete" 
              autoActiveFirstOption
              (optionSelected)="onAutoRoomSelected($event)"
            >
              <mat-option
                *ngFor="let option of filteredRooms$ | async" 
                [value]="option"
              >
                ID: {{ option.id }} - {{ option.room_number}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Annotation</mat-label>
          <input matInput placeholder="Ex. New, HDMI port, not compatible with MacOS, etc." formControlName="deviceAnnotation">
        </mat-form-field>
      </div>
      
      <!-- stepper controls -->
      <div style="display: flex; flex-direction: row; justify-content: flex-end; gap: 10px;">
        <button mat-stroked-button (click)="dialogRef.close(false)" matStepperNext>Cancel</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Confirm -->
  <mat-step>
    <!-- stepper header -->
    <ng-template matStepLabel>Confirmation</ng-template>
    <div class="mat-table-container">
      <table class="mat-table">
        <tr>
          <th class="mat-header">Type</th>
          <td class="mat-cell">{{ firstFormGroup.value.deviceName ? firstFormGroup.value.deviceName : '-' }}</td>
        </tr>
        <tr>
          <th class="mat-header">Description</th>
          <td class="mat-cell">{{ firstFormGroup.value.deviceDescription ? firstFormGroup.value.deviceDescription : '-' }}</td>
        </tr>
        <tr>
          <th class="mat-header">Location</th>
          <td class="mat-cell">{{ firstFormGroup.value.deviceLocation ? firstFormGroup.value.deviceLocation : '-' }}</td>
        </tr>
        <tr>
          <th class="mat-header">Annotation</th>
          <td class="mat-cell">{{ firstFormGroup.value.deviceAnnotation ? firstFormGroup.value.deviceAnnotation : '-' }}</td>
        </tr>
      </table>
    </div>

    <!-- stepper controls -->
    <div style="display: flex; flex-direction: row; justify-content: flex-end; gap: 10px;">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" (click)="createNewDevice()" [disabled]="!firstFormGroup.valid">Confirm</button>
    </div>
  </mat-step>
</mat-stepper>