<app-title-bar
    [title]="'ID ' + deviceId"
    [enableBackButton]="true"
    [colorBackground]="true"
></app-title-bar>

<div class="pageContent">
    <div class="metadata">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Details
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="color: #121212" *ngIf="deviceDetails">
                <p><strong>Type:</strong> {{ deviceDetails.item_name }}</p>
                <p><strong>Location:</strong> {{ deviceDetails.location }}</p>

                <div>
                    <p><strong>Description:</strong> {{ deviceDetails.description }}</p>
                </div>
                <div>
                    <p><strong>Notes:</strong></p>
                    <div style="display:flex; align-items: center; flex-direction: row; gap: 10px;">
                        <p>{{ deviceDetails.annotation }}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="photos-upload" *ngIf="imageToShow">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Photo
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="imageToShow"><strong>Last modified:</strong> {{ unixTimestampMiliseconds | date: "LLL dd, yyyy 'at' HH:mm" }} ({{ timezoneName }}) </p>
                <p *ngIf="imageToShow"><strong>Relative Time:</strong> {{ relativeTime }} </p>
                <div style="display: flex; justify-content: center; flex-direction: column; width: 100%; align-items: center; gap: 16px;">    
                    <img *ngIf="imageToShow" [ngClass]="{'portrait': isPortrait, 'notPortrait': !isPortrait}" [src]="imageToShow" alt="Selected Photo" />
                </div>
            </mat-card-content>
            <mat-card-actions style="justify-content: center;">
            </mat-card-actions>
        </mat-card>
    </div>
</div>