<app-title-bar
    [title]="'ID ' + deviceId"
    [enableBackButton]="true"
    [colorBackground]="true"
></app-title-bar>

<div class="pageContent">
    <div class="metadata">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Details
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="color: #121212" *ngIf="deviceDetails">
                <p><strong>Type:</strong> {{ deviceDetails.item_name }}</p>
                <p><strong>Location:</strong> {{ deviceDetails.location }}</p>

                <!-- TODO: Be able to change description and Notes here. Tips: Use patch request -->
                <div>
                    <p><strong>Description:</strong> {{ deviceDetails.description }}</p>
                </div>
                <div>
                    <p><strong>Notes:</strong></p>
                    <div style="display:flex; align-items: center; flex-direction: row; gap: 10px;">
                        <textarea matInput style="width: 300px;" [(ngModel)]="editedNotes" rows="5">{{ deviceDetails.annotation }}</textarea>
                        <button mat-flat-button (click)="saveNotes()" color="primary">Save</button>
                        <button mat-stroked-button (click)="onNotesReset()">
                            <mat-icon>
                                restore
                            </mat-icon>
                            Reset
                        </button>
                    </div>
                </div>

                <div *ngIf="deviceDetails.borrowed_by_user_id">
                    <p><strong>Currently borrowed by:</strong> {{ deviceDetails.user_name }}</p>
                    <ul>
                        <li><strong>Type:</strong> {{ deviceDetails.user_type }} </li>
                        <li><strong>Email:</strong> {{ deviceDetails.user_email }} </li>
                        <!-- <li><strong>Borrowed since:</strong> 10 Aug. 2023</li> -->
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div class="photos-upload">
        <mat-card style="width: 100%">
            <mat-card-header>
                <mat-card-title>
                    Photo
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="display: flex; justify-content: center; flex-direction: column; width: 100%; align-items: center; gap: 16px;">
                <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" style="display: flex; flex-direction: row; gap: 16px;">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" id="fileInput" style="display: none;" />
                    <label for="fileInput" class="custom-file-input">Choose File</label>

                    <button mat-stroked-button color="warn" *ngIf="imageToShow" (click)="clearPhoto()">
                        Clear photo
                    </button>
                </form>

                <img *ngIf="imageToShow" [ngClass]="{'portrait': isPortrait, 'notPortrait': !isPortrait}" [src]="imageToShow" alt="Selected Photo" />
            </mat-card-content>
            <mat-card-actions style="justify-content: center;">
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="qr-code">
        <mat-card style="width: 100%">
            <mat-card-header>
                <mat-card-title>
                    QR Code
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="display: flex; justify-content: center;">
                <img [src]="qrCodeDataUrl" alt="QR Code">
            </mat-card-content>
            <mat-card-actions style="justify-content: center;">
                <button mat-button (click)="onDownloadClick()">Download QR Code</button>
            </mat-card-actions>
        </mat-card>
    </div>

    
</div>