<div class="pageHeader">
    <h2>
        ID: {{ deviceId }}
    </h2>
</div>

<div class="pageContent">
    <div class="metadata">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Metadata
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="color: #121212">
                <p><strong>Name:</strong> {{ deviceDetailsMock.deviceName }}</p>
                <p><strong>Location:</strong> {{ deviceDetailsMock.location }}</p>
                <p><strong>Borrowed By:</strong> Alex A.</p>
                <ul>
                <li><strong>Type:</strong> Student</li>
                <li><strong>Email:</strong> alex@gmail.com</li>
                <li><strong>Borrowed since:</strong> 10 Aug. 2023</li>
                </ul>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div class="qr-code">
        <mat-card style="width: 100%">
            <mat-card-header>
                <mat-card-title>
                    QR Code
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="display: flex; justify-content: center;">
                <img [src]="qrCodeDataUrl" alt="QR Code">
            </mat-card-content>
            <mat-card-actions style="justify-content: center;">
                <button mat-button (click)="downloadQRCode()">Download QR Code</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
</div>