table {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.searchField {
    width: 40%;
}
.table-row {
    cursor: pointer;
}

.tableContainer {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.starredTable {
    border-radius: 8px;
    border: solid 1px #b4b4b4;
    box-shadow: none;
    padding: 16px;
}

.mat-mdc-row:hover {
    background-color: rgb(245, 245, 245) !important;
}