<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan QR Code</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [button]="true" (click)="scanLendItem()" [disabled]="!isSupported">
    
    <div class="cardContentContainer">
      <div class="flex flex-row items-center pl-5">
        <div class="text-cyan-600">
          <ion-icon name="qr-code" size="large"></ion-icon>
        </div>
        <div class="flex flex-col items-start">
          <ion-card-header>
            <ion-card-title>
              Lend an Item
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Scan the item you wish to lend
          </ion-card-content>
        </div>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>


  <ion-card [button]="true" routerLink="/your-items">
    <div class="cardContentContainer">
      <div class="flex flex-row items-center pl-5">
        <div class="text-cyan-600">
          <ion-icon name="albums" size="large"></ion-icon>
        </div>
        <div class="flex flex-col items-start">
          <ion-card-header>
            <ion-card-title>
              Your Items
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Manage your lent items
          </ion-card-content>
        </div>
      </div>
      <div class="chevronIconPadding flex flex-row items-center gap-2">
        <ion-badge slot="end" class="bg-cyan-600"> {{ yourItemsLength }} </ion-badge>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>
</ion-content>
