<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan QR Code</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab-button (click)="testClick()">
    toast
  </ion-fab-button>
  <ion-card [button]="true" (click)="scanLendItem()" [disabled]="!isSupported">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Lend Item
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Scan item's QR code to assign your name to it.
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>

  <!-- <ion-card [button]="true" (click)="scanReturnItem()" [disabled]="!isSupported">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Return Item
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Return your lent items by scanning the room's QR code
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card> -->


  <ion-card [button]="true" routerLink="/your-items">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Scanned Items
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Manage your lent items
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>


  <ion-list>
    <ion-item *ngFor="let code of lendQrCodeData">
      <ion-label position="stacked">{{ code.format }}</ion-label>
      <ion-input type="text" [value]="code.rawValue"></ion-input>
    </ion-item>
  </ion-list>


  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scanLendItem()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
