<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan QR Code</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-fab-button (click)="testClick()">
    toast
  </ion-fab-button> -->
  <ion-card [button]="true" (click)="scanLendItem()" [disabled]="!isSupported">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Lend an Item
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Scan the item you wish to lend
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>

  <!-- <ion-card [button]="true" (click)="scanReturnItem()" [disabled]="!isSupported">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Return Item
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Return your lent items by scanning the room's QR code
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card> -->


  <ion-card [button]="true" routerLink="/your-items">
    <div class="cardContentContainer">
      <div>
        <ion-card-header>
          <ion-card-title>
            Your Items
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Manage your lent items
        </ion-card-content>
      </div>
      <div class="chevronIconPadding">
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>
  </ion-card>

  <div *ngIf="deviceInfo">
    Lent Device: {{ deviceInfo.id }} - {{ deviceInfo.item_name }}
  </div>
  <div>
    Scanned device valid?: {{ isScannedDeviceValid }}
  </div>
</ion-content>
